@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// VARIABLES 
// colors
$White: hsl(0, 0%, 100%);
$Light_gray: hsl(212, 45%, 89%);
$Grayish_blue: hsl(220, 15%, 55%);
$Dark_blue: hsl(218, 44%, 22%);

// TYPOGRAPHY

$font-family: 'Outfit', sans-serif;

@mixin center {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body{
    background-color: $Light_gray;
    font-family: $font-family;
    text-align: center;
    @include center();
}

    .parent {
    background-color: $White;
    border-radius: 1rem;
    max-width: 300px;
  }

    .card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  img{
    border-radius: .5rem;
  }

  .space > * {
      margin-bottom: 1rem;
  }

  h3, p{
      padding: 0 .5rem;
  }

  h3{
      color: $Dark_blue;
      font-size: 20px;

  }
  p{
    color: $Grayish_blue;
    font-size: 14px;
  }

